<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CokeeDP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CokeeDP.Properties.Settings>
      <setting name="OneWordsApi" serializeAs="String">
        <value>https://v1.hitokoto.cn/?c=k</value>
      </setting>
      <setting name="OneWordsEnable" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="disable_clock1" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OneWordsTimeInterval" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="WeatherTimeInterval" serializeAs="String">
        <value>9800</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>中国 北京</value>
      </setting>
      <setting name="CountdownName" serializeAs="String">
        <value>高考</value>
      </setting>
      <setting name="CountdownTime" serializeAs="String">
        <value>2025/06/05 00:00:00</value>
      </setting>
      <setting name="BingWappEnable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableBigTimeTo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Font" serializeAs="String">
        <value>Segoe UI, 8.25pt</value>
      </setting>
      <setting name="isChildLocked" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="isDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AudioFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="IsUHDWapp" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CityId" serializeAs="String">
        <value>101010100</value>
      </setting>
      <setting name="BlockedImageIds" serializeAs="String">
        <value />
      </setting>
      <setting name="CachedWeatherData" serializeAs="String">
        <value />
      </setting>
      <setting name="CachedWeatherTime" serializeAs="String">
        <value>2000/01/01 00:00:00
      </value>
      </setting>
      <setting name="OneWordsComboBoxIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </CokeeDP.Properties.Settings>
  </userSettings>
</configuration>