<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CokeeDP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CokeeDP.Properties.Settings>
            <setting name="hk_api" serializeAs="String">
                <value>https://v1.hitokoto.cn/?c=k</value>
            </setting>
            <setting name="disable_hk" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="disable_clock1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hkc" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="wea" serializeAs="String">
                <value>3600</value>
            </setting>
            <setting name="city" serializeAs="String">
                <value>fuyang</value>
            </setting>
            <setting name="wantRes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="timeTo" serializeAs="String">
                <value>高考</value>
            </setting>
            <setting name="timeTod" serializeAs="String">
                <value>2025/06/05 00:00:00</value>
            </setting>
            <setting name="usingBing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="childPW" serializeAs="String">
                <value>cokeetech</value>
            </setting>
            <setting name="enableBigTimeTo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="accColor" serializeAs="String">
                <value>108, 188, 234</value>
            </setting>
            <setting name="backColor" serializeAs="String">
                <value />
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Segoe UI, 8.25pt</value>
            </setting>
            <setting name="siz" serializeAs="String">
                <value />
            </setting>
            <setting name="childLockPw" serializeAs="String">
                <value />
            </setting>
            <setting name="isChildLocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="isDebug" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="IsUHDWapp" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CityId" serializeAs="String">
                <value />
            </setting>
        </CokeeDP.Properties.Settings>
    </userSettings>
</configuration>